* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: "CeraCompactPro-Regular";*/
}
*::-webkit-scrollbar {
	width: 0;
	display: none;
}
span.my-icon {
	font-family: "MyFont";
	color: #ffffffa8;
	font-size: 18px;
}
button {
	padding: 1rem 2rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff158b;
	border: none;
	color: #fff;
	font-family: "CeraCompactPro-Medium";
	border-radius: 10px;
}
button[disabled] {
	background-color: #880c4a;
	cursor: not-allowed;
}
a {
	text-decoration: none;
	color: inherit;
}
/*h3{
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	margin: 24px;
}*/
/**/
/**HEADER*/
/**/
header {
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 49px;
	max-width: 100%;
	min-width: 1244px;
	height: 90px;
	background: #2e2e2e;
}
.header-right {
	gap: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cart {
	background-color: #202020;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart img {
	width: 20px;
}
/**/
/**NAVBAR*/
/**/
.side-bar {
	min-height: calc(100vh - 90px);
	min-width: 17%;
	background-color: #2e2e2e;
	padding: 20px;
}
nav ul {
	list-style-type: none;
	margin-top: 40px;
}
nav ul li {
	margin-bottom: 24px;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 20%;
}
nav ul li:hover {
	background-color: #1f1f1f;
	border-radius: 10px;
}
nav ul li:hover a {
	color: #fff;
}
nav ul li:hover span {
	color: #ff158b;
}
nav li a {
	margin-left: 10%;
	color: #ffffffa8;
	text-decoration: none;
	font-family: "CeraCompactPro-Regular";
	font-size: 18px;
}

/**/
/**FOOTER*/
/**/
footer {
	display: flex;
	flex-direction: column;
	padding: 49px;
	max-width: 100%;
	min-width: 1244px;
	height: fit-content;
	background: #2e2e2e;
	font-family: "CeraCompactPro-Regular";
	color: #fff;
}
.footer-top {
	margin-left: 7%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.info-box h5 {
	font-size: 16px;
}
.spacer {
	width: 10%;
}
.footer-section {
	display: flex;
	flex-direction: column;
}
.footer-section h5 {
	font-size: 19px;
	margin-bottom: 30%;
}
.footer-section a {
	margin-bottom: 15%;
	font-size: 17px;
	color: #ffffffa8;
	text-decoration: none;
}
.footer-section a:hover {
	color: #fff;
}
.line {
	height: 1px;
	background-color: #ffffffa8;
	margin: 3% 0 3% 14%;
}
.footer-bottom {
	margin-left: 14%;
	display: flex;
	justify-content: space-between;
	color: #ffffffa8;
}

/***/
/**PAGE LAYOUT*/
/***/
.main-container {
	display: flex;
	justify-content: center;
	background-color: #202020;
	color: #ffffffa8;
}
.content {
	flex-grow: 1;
}

/************************************/
/***/
/***********HOME PAGE BODY***********/
/***/
/************************************/

.page-body {
	padding: 40px;
}
.news-wrapper {
	display: flex;
	gap: 24px;
	margin-bottom: 24px;
}
.promo-section,
.games-section {
	min-width: 56.5vw;
	height: 329px;
	border-radius: 10px;
}
.releases-section,
.categories-section {
	background-color: antiquewhite;
	flex-grow: 1;
	border-radius: 10px;
}
.games-wrapper {
	display: flex;
	gap: 24px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.games-section {
	background: none;
	max-width: 50vw;
	display: flex;
	gap: 24px;
	overflow: auto;
}

/**GAME TILE*/
.game-tile {
	position: relative;
	flex: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	width: 224px;
	height: 329px;
	min-height: 100%;
	border-radius: 10px;
}
.game-tile a {
	display: block;
	min-height: inherit;
}
.game-tile img {
	min-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.game-adv {
	position: relative;
	top: calc(-100%);
	margin: 24px;
	font-family: "CeraCompactPro-Bold";
	font-size: 12px;
	color: #16ffab;
	text-shadow: 0.1em 0.1em 0.3em #323232;
}
.glass {
	height: 124px;
	width: 100%;
	top: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	padding: 10px 24px 24px 24px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: solid 1px rgba(255, 255, 255, 0.25);
	border-radius: 0 0 10px 10px;
	position: absolute;
	top: 100%;
}
.glass-info {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	font-family: "CeraCompactPro-Regular";
	font-size: 14px;
	color: #ffffffa8;
}
.glass-info a {
	text-decoration: none;
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	color: #fff;
}
.glass button {
	font-family: "CeraCompactPro-Medium";
	font-size: 14px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 10px;
	border: none;
	background-color: #ff158b;
	filter: drop-shadow(2px 8px 13px #ff158b);
}
span.star {
	color: #ff891d;
}

.game-tile:hover .glass {
	top: calc(100% - 124px);
	transition: top 0.4s;
}

/**RELEASES*/
.releases-section {
	background-color: #2e2e2e;
	color: #fff;
	/*!Fix Pixels component*/
	max-height: 327px;
	/*max-width: 273px;*/
}
.releases-section h3 {
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	margin: 24px;
}
.releases-items {
	overflow: auto;
	max-height: 70%;
}

.releases-item {
	background-color: #323232;
	margin: 0 24px 12px 24px;
	padding: 0 14px;
	border-radius: 10px;
	min-height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.releases-game {
	display: flex;
	align-items: center;
	gap: 6px;
}
.releases-gamename {
	font-family: "CeraCompactPro-Medium";
	font-size: 17px;
}
.releases-gamedate {
	font-family: "CeraCompactPro-Regular";
	font-size: 10px;
	color: #16ffab;
}
.releases-button button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 10px;
	background-color: #ff158b;
	border: none;
	padding: 8px;
}

.promo {
	position: relative;
	width: 100%;
	height: calc(100% - 24px);
	background-image: url(/public/robot.png),
		linear-gradient(to right, #170000a8, #00000000),
		url(/public/Promo-background.png);
	background-size: contain, cover, cover;
	background-repeat: no-repeat;
	background-position: bottom right, left, right;
	box-shadow: 0px 24px #2e2e2e;
	border-radius: 10px;
}
.promo-text {
	position: absolute;
	top: 0;
	margin: 40px;
	height: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}
.promo-text-adv {
	font-family: "CeraCompactPro-Medium";
	font-size: 14px;
	text-transform: uppercase;
}
.promo-text-title {
	font-family: "CeraCompactPro-Regular";
	font-size: 34px;
}
.promo-text-title span {
	color: #16ffab;
	font-weight: 600;
}
.promo-text button {
	width: fit-content;
	padding: 24px 36px;
	border: none;
	font-family: "CeraCompactPro-Medium";
	font-size: 20px;
	color: #fff;
	background-color: #ff158b;
	border-radius: 10px;
}
.promo-text button:hover {
	box-shadow: 0px 0px 35px 3px #ff158b;
	transition: 0.35s;
}

.categories-section {
	background-color: #2e2e2e;
	color: #fff;
	/*!Fix Pixels component*/
	/*max-width: 273px;*/
}
.categories-section h3 {
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	margin: 24px;
}
.categories-items {
	overflow: auto;
	margin: 0 24px 0 24px;
	max-height: 70%;
}
.categories-item {
	background-color: #323232;
	min-height: 50px;
	margin-bottom: 12px;
	padding-left: 12px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-family: "CeraCompactPro-Medium";
	font-size: 16px;
	text-decoration: none;
}
.categories-item:hover {
	box-shadow: 0px 3px 10px -2px #00000070;
	color: #16ffab;
}
.categories-item.active {
	box-shadow: 0px 3px 10px -2px #00000070;
	color: #16ffab;
}

/*******/
/**CART*/
/*******/
.cart-page {
	background-color: #2e2e2e;
	border-radius: 10px;
	margin: 40px;
	padding: 24px;
	width: calc(100vw - 40px);
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	color: #fff;
}
.cart-page-title {
	margin-bottom: 24px;
}
.cart-page-title img {
	height: 25px;
}
.cart-page-item {
	background-color: #323232;
	padding: 12px 24px;
	margin-bottom: 12px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}
.cart-page-item .image {
	height: inherit;
	width: auto;
	display: flex;
	align-items: center;
	gap: 5px;
}
.cart-page-item img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}
.cart-page-item button {
	height: 50%;
	width: 45px;
	border-radius: 50%;
	padding: 5px;
}

/***************************/
/***************************/
/*********LIBRARY***********/
/***************************/
/***************************/
.library-page {
	margin: 40px;
	width: 100%;
}
.search {
	display: flex;
	align-items: center;
	width: 460px;
	height: 42px;
	padding-left: 12px;
	background-color: #323232;
	border-radius: 10px;
	border: 1px solid #323232;
	box-shadow: 0px 3px 10px -2px #00000070;
	font-size: 16px;
	position: relative;
	outline: none;
}
.search input,
.search button {
	padding-left: 12px;
	height: 42px;
	font-family: "CeraCompactPro-Regular";
	border: 0;
	color: #fff;
	font-size: 14px;
	outline: none;
}
.search p {
	color: #525252;
}
.search input[type="search"] {
	width: 100%;
	background: #323232;
	padding: 0 1.6rem;
	border-radius: 10px;
	appearance: none;
	transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
	transition-property: width, border-radius;
	z-index: 1;
	position: relative;
}

.search button {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.5rem;
	border-radius: 0 10px 10px 0;
	border: 1px solid #323232;
}
.search input:not(:placeholder-shown) {
	border: 1px solid #323232;
	border-radius: 10px 0 0 10px;
	width: calc(100% - 3.5rem);
}

.library-games-section {
	min-height: calc(100vh - 270px);
	margin-top: 40px;
	border-radius: 10px;
	background: none;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	overflow: auto;
}
.pagination {
	display: flex;
	justify-content: center;
	gap: 7px;
	margin-top: 40px;
	font-family: "CeraCompactPro-Regular";
	font-size: 18px;
	list-style-type: none;
}
.pagination li {
	cursor: pointer;
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 10px 15px;
}
.pagination li:hover {
	color: #16ffab;
}
.pagination .selected {
	color: #16ffab;
	box-shadow: 0px 3px 10px -2px #00000070;
}

.game-page {
	padding: 40px;
	display: flex;
	background-color: #202020;
	color: #ffffffa8;
}

.slider-section {
	display: flex;
	gap: 24px;
	margin-bottom: 24px;
}
.slider {
	background-color: #2e2e2e;
	border-radius: 10px;
	overflow: hidden;
}
.slider figure {
	position: relative;
	width: 500%;
	height: 100%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.slider img {
	border-radius: 10px;
	object-fit: cover;
	width: 20%;
	height: inherit;
	float: left;
}
@keyframes slider {
	0% {
		left: 0;
	}
	25% {
		left: 0;
	}
	30% {
		left: -100%;
	}
	55% {
		left: -100%;
	}
	60% {
		left: -200%;
	}
	85% {
		left: -200%;
	}
	90% {
		left: -300%;
	}
	100% {
		left: -300%;
	}
}

.game-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: fit-content;
	min-width: 273px;
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 24px;
}
.game-info-description {
	margin-bottom: 2rem;
	text-align: justify;
}
.game-info-description,
.game-info-table-title {
	font-family: "CeraCompactPro-Light";
	font-size: 15px;
	color: #fff;
}
.game-info table {
	margin: auto 0;
	align-self: flex-start;
}
.game-info-table-title {
	text-transform: uppercase;
	margin-right: 1.5rem;
}
.download {
	margin-bottom: 24px;
	height: 4rem;
	border-radius: 10px;
	padding: 24px 48px;
	background-color: #2e2e2e;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.download-button {
	display: flex;
	color: #fff;
	font-family: "CeraCompactPro-Medium";
	align-items: center;
	gap: 24px;
}

.download button {
	font-size: 16px;
	padding: 1rem 2rem;
}

h1 {
	font-family: "CeraCompactPro-Black";
	font-size: 34px;
	color: #ff158b;
}

.game-info table tr td ~ td {
	font-family: "CeraCompactPro-Light";
	font-size: 11px;
	color: #16ffab;
}
.system-reqirements {
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	color: #fff;
}
.system-requirments tr {
	font-family: "CeraPro-Regular";
	font-size: 19px;
	color: #fff;
}
.system-requirments tr ~ tr {
	font-family: "CeraCompactPro-Regular";
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

table {
	margin-top: 24px;
}

.characteristics-block {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.system-requirments td {
	width: 100rem;
}

.aboutPage {
	width: 100vw;
	padding: 40px;
	color: #fff;
}
.aboutPage h2 {
	font-family: "CeraCompactPro-Black";
	font-size: 250%;
	line-height: 4rem;
}
.aboutPage h3 {
	font-family: "CeraCompactPro-Light";
	font-size: 120%;
	min-width: 20rem;
}
.aboutPage a {
	font-family: "CeraCompactPro-Medium";
	font-size: 150%;
	color: #ff158b;
	line-height: 4rem;
}
.about-text {
	min-width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.aboutPage .about-store {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20rem;
}
.aboutPage .about-store a:hover {
	background-color: #ff158a3b;
	box-shadow: 0 0 20rem 3rem #ff158b;
	transition: 0.4s;
}
.about-text.store {
	align-items: center;
	text-align: center;
	max-width: 20rem;
}

.about-container {
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 40px;
}
.about-community,
.about-schedule,
.about-friends,
.about-more {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 5rem 0;
}
.about-container a:hover {
	margin-left: 2rem;
	transition: 0.3s;
}
.about-illustration img {
	width: 100%;
	object-fit: contain;
}
.about-more button {
	padding: 2rem 4rem;
	font-size: 20px;
}
.about-more button:hover {
	box-shadow: 0 0 10rem 1rem #ff158b;
	transition: 0.4s;
}
.ce-chat-engine {
	display: none;
}
/*
.ce-chat-engine{
	width: calc(100vw - 53%);
	height: calc(100vh - 90px);
	border-radius: 10px;
	background-color: #202020;
}
.ce-wrapper{
	height: 100%;
}
.ce-chat-list-list{
	background-color: #202020;
}
.ce-chats-container{
	background-color: #16ffab;
}
*/

/*************************/
/*************************/
/*********CALENDAR********/
/*************************/
/*************************/

.schedule-page {
	background-color: #323232;
	margin: 40px;
	padding: 24px;
	border-radius: 10px;
	width: 100%;
	min-height: calc(100vh - 90px);
}

.schedule-page .content {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: 100%;
}
#calendar-header {
	display: flex;
	justify-content: space-around;
}
.btns {
	display: flex;
	gap: 24px;
}
#monthDisplay,
#newEventModal h2,
#deleteEventModal h2 {
	color: #ff158b;
	font-family: "CeraCompactPro-Bold";
	font-size: 34px;
}
#weekdays {
	display: flex;
	justify-content: space-around;
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	margin: 12px 0;
}
#weekdays div {
	display: flex;
	justify-content: center;
	width: 13%;
	margin: 6px;
}
#calendar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
.day {
	margin: 0.5rem;
	flex: 1 0 12%;
	background-color: #1f1f1f;
	min-height: 6rem;
	max-width: 12.5%;
	padding: 12px;
	height: 100px;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: 0px 3px 10px -2px #00000070;
	font-family: "CeraCompactPro-Light";
	font-size: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.day:hover {
	background-color: #2e2e2e;
}

.day + .currentDay {
	background-color: #525252;
}
.event {
	font-size: 10px;
	padding: 3px;
	background-color: #ff158b;
	color: white;
	border-radius: 5px;
	max-height: 55px;
	overflow: hidden;
}
.padding {
	cursor: default;
	background-color: #323232;
	box-shadow: none;
}
#newEventModal,
#deleteEventModal {
	z-index: 20;
	padding: 25px;
	background-color: #323232;
	box-shadow: 0px 3px 10px -2px #00000070;
	border-radius: 10px;
	width: 30%;
	position: fixed;
	top: 30%;
	display: flex;
	flex-direction: column;
}
#newEventModal input,
#deleteEventModal p {
	margin: 24px 0;
	color: #ffffffa8;
	font-family: "CeraCompactPro-Medium";
	font-size: 18px;
}
#eventTitleInput {
	background-color: #202020;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;
	outline: none;
	border: none;
}
#eventTitleInput.error {
	border: 2px solid red;
}
#cancelButton,
#deleteButton {
	background-color: #ff158b;
}
#saveButton,
#closeButton {
	background-color: #16ffab;
}
#eventText {
	font-size: 14px;
}
#modalBackDrop {
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
}

.messages-page {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.formWrapper {
	background-color: #2e2e2e;
	border-radius: 10px;
	margin: 40px;
	padding: 40px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formWrapper h2 {
	font-family: "CeraCompactPro-Bold";
	font-size: 17px;
	margin-bottom: 24px;
}
.formWrapper form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-family: "CeraCompactPro-Regular";
}
.formWrapper form input {
	font-family: "CeraCompactPro-Regular";
	color: #ffffffa8;
	display: flex;
	align-items: center;
	width: 460px;
	height: 42px;
	padding-left: 12px;
	background-color: #323232;
	border-radius: 10px;
	border: 1px solid #323232;
	box-shadow: 0px 3px 10px -2px #00000070;
	font-size: 16px;
	outline: none;
}
.formWrapper form input:-webkit-autofill,
.formWrapper form input:-webkit-autofill:hover,
.formWrapper form input:-webkit-autofill:focus,
.formWrapper form input:-webkit-autofill:active {
	border: 1px solid #323232;
	-webkit-text-fill-color: #ffffffa8;
	transition: background-color 9999s ease-in-out 0s;
}
.formWrapper form label {
	display: flex;
	align-items: center;
	gap: 12px;
}
.formWrapper form p {
	font-family: "CeraCompactPro-Light";
	text-align: center;
}
.formWrapper form a {
	color: #16ffab;
}

.container {
	width: 100%;
	max-height: calc(100vh - 90px);
	background-color: #2e2e2e;
	border-radius: 10px;
	margin: 40px;
	display: flex;
	overflow: hidden;
}
.container .sidebar {
	flex: 1;
}
.container .chat {
	flex: 2;
	background-color: #323232;
}

.sidebar .navbar,
.container .chat .chatInfo {
	font-family: "CeraCompactPro-Medium";
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1c1c1c;
	padding: 24px;
}
.sidebar .navbar .user {
	display: flex;
	align-items: center;
	gap: 6px;
}
.sidebar .navbar .user img {
	background-color: #2e2e2e;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	object-fit: cover;
}
.sidebar .navbar .user button {
	padding: 0.5rem 1rem;
	background-color: #2e2e2e;
}
.sidebar .navSearch {
	border-bottom: 1px solid #1c1c1c;
	box-shadow: 0px 3px 10px -2px #00000070;
}
.sidebar .navSearch .searchForm {
	padding: 10px;
}
.sidebar .navSearch input {
	background-color: transparent;
	border: none;
	color: #ffffffa8;
	outline: none;
}
.sidebar .userChat {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.sidebar .userChat:hover {
	background-color: #202020;
}
.sidebar .userChat img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}
.sidebar .userChat .userChatInfo span {
	font-size: 18px;
	font-family: "CeraCompactPro-Bold";
}
.sidebar .userChat .userChatInfo p {
	font-size: 14px;
	color: #ffffff59;
	font-family: "CeraCompactPro-Regular";
}
.chat .messages{
	background-color: #1f1f1f;
	padding: 10px;
	height: calc(100% - 100px);
	overflow: scroll;
}
.chat .input{
	max-height: 50px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chat .input img{
	transform: rotate(-45deg);
}
.chat .input input{
	color: #ffffffa8;
	font-size: 16px;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
}
.chat .input .send{
	display: flex;
	align-items: center;
	gap: 12px;
}
.chat .input .send button{
	padding: 0.5rem 1rem;
}
.messages .message{
	display: flex;
	gap: 20px;
}
.messages .message .messageInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ffffff59;
	font-family: "CeraCompactPro-Light";
	font-size: 12px;
}
.messages .message .messageInfo img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #880c4a;
}
.messages .message .messageContent{
	max-width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: "CeraCompactPro-Regular";
}
.messages .message .messageContent p{
	background-color: #16ffab;
	color: #323232;
	padding: 10px 20px;
	border-radius: 0px 10px 10px 10px;
	max-width: max-content;
}
.messages .message .messageContent img{
	width: 50%;
}
.messages .message.owner{
	flex-direction: row-reverse;
}
.messages .message.owner .messageContent{
	align-items: flex-end;
}
.messages .message.owner p{
	background-color: #ff158b;
	color: #ffffff;
	border-radius: 10px 0px 10px 10px;
}